.pri-fun-facts-block {
  background: rgba(255,255,255,0.15);
  padding: 30px;
  margin: 20px 0;
  position: relative;
  display: block;
  text-align: center;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.pri-fun-facts-block i {
  text-align: center;
  font-size: 50px;
  display: block;
  line-height: 68px;
}
.pri-fun-facts-block strong {
  display: block;
  font-size: 38px;
  line-height: 52px;
}
.pri-fun-facts-block p {
  display: block;
  font-size: 18px;
  line-height: 26px;
}
.pri-fun-facts-block:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pri-services-block1 {
  padding: 20px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  text-align: center;
}
.pri-services-block1 .pri-services-icon {
  font-size: 42px;
  margin-bottom: 10px;
}
.pri-services-block1 .pri-services-icon i {
  border: 2px solid;
  width: 58px;
  text-align: center;
  margin: 0 auto;
  line-height: 58px;
  display: block;
  height: 58px;
  padding: 10px;
  border-radius: 50%;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  border: ;
  *border: ;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  *margin-left: .3em;
  *display: inline;
  *zoom: 1;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  text-decoration: none;
  background-color: #fff;
  *background-color: #fff;
  text-shadow: none;
  background-position: 0 0;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #fff;
  background-color: #fff \9;
  background-image: none;
  outline: 0;
  color: #fff;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
.btn.btn-trans {
  border: 2px solid #fff;
  color: #fff;
}
.btn.btn-trans:hover {
  color: #fff;
}
.btn.btn-trans-white {
  border: 1px solid #fff;
  color: #fff;
}
.btn-large {
  padding: 9px *2;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}
.btn-small [class^="icon-"] {
  margin-top: 0;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 16px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,0.75);
}
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top,#08c,#0044cc);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0044cc));
  background-image: -webkit-linear-gradient(top,#08c,#0044cc);
  background-image: -o-linear-gradient(top,#08c,#0044cc);
  background-image: linear-gradient(to bottom,#08c,#0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0043cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #0044cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top,#fbb450,#f89406);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
  background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
  background-image: -o-linear-gradient(top,#fbb450,#f89406);
  background-image: linear-gradient(to bottom,#fbb450,#f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffab44f', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f89406;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #fff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
  background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #bd362f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #fff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top,#62c462,#51a351);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
  background-image: -webkit-linear-gradient(top,#62c462,#51a351);
  background-image: -o-linear-gradient(top,#62c462,#51a351);
  background-image: linear-gradient(to bottom,#62c462,#51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #51a351;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #fff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
  background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #2f96b4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #fff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top,#444,#222);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
  background-image: -webkit-linear-gradient(top,#444,#222);
  background-image: -o-linear-gradient(top,#444,#222);
  background-image: linear-gradient(to bottom,#444,#222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222 #222 #000000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #222;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #fff;
  background-color: #222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #090909 \9;
}
.btn-warning,
.btn-danger,
.btn-success,
.btn-info,
.btn-inverse {
  border: 0 !important;
  color: #ffffff;
}
.btn-warning:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-info:hover,
.btn-inverse:hover {
  background-position: 0 -15px;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #08c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.rtl .icon-chevron-right:before {
  content: "\f053";
}
a,
a:hover {
  text-decoration: none;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.page-header {
  padding-bottom: 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid;
  font-weight: normal;
}
.item-title {
  border-bottom: 1px dashed #333333;
  font-weight: normal;
}
.item-image {
  max-width: 100%;
}
.entry-meta.muted {
  margin-bottom: 20px;
  font-size: 12px;
}
.entry-meta.muted >span,
.entry-meta.muted >time {
  margin: 0 5px;
}
.entry-meta ul {
  margin: 0 5px;
}
.entry-meta ul.actions {
  float: right;
}
.entry-meta ul.actions li {
  display: inline-block;
}
.entry-meta ul.actions li.print-icon a::before {
  content: "\f02f";
}
.entry-meta ul.actions li.email-icon a::before {
  content: "\f003";
}
.entry-meta ul.actions li.edit-icon a::before {
  content: "\f044";
}
.entry-meta ul.actions li a {
  font-family: FontAwesome;
  display: block;
  font-size: 14px;
  margin-left: 5px;
}
.entry-meta ul.actions li a img {
  display: none;
}
.entry-meta ul.actions li a span {
  display: none;
}
ul.pagenav {
  list-style: none;
  padding: 0;
  clear: both;
  margin-top: 10px;
  margin-left: 0;
  overflow: hidden;
}
ul.pagenav .pagenav-prev {
  float: left;
}
ul.pagenav .pagenav-next {
  float: right;
}
label.invalid {
  color: #c83025;
}
.article-info dd,
dt {
  display: inline;
}
#sp-header-wrapper {
  padding: 20px 0;
}
#sp-header-wrapper .logo-wrapper {
  padding: 5px 0;
}
#sp-header-wrapper .logo-wrapper .logo {
  background-position: 0 50%;
  background-repeat: no-repeat;
}
#sp-header-wrapper .logo-wrapper .logo-text {
  margin-top: 5px;
  font-size: 24px;
  line-height: 25px;
}
#sp-header-wrapper .logo-wrapper .logo-slogan {
  font-size: 11px;
}
#sp-header-wrapper .search {
  margin-top: 10px;
}
#sp-header-wrapper .search form {
  margin: 0;
}
@media (min-width: 979px) {
  #sp-header-wrapper.sticky {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
}
@media (max-width: 979px) {
  #sp-menu {
    display: none;
  }
  #sp-logo {
    width: 100% !important;
  }
  .logo-wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.ltr #sp-menu {
  text-align: right;
}
.rtl #sp-menu {
  text-align: left;
}
#sp-main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sp-main-menu ul.level-0 > li {
  display: inline-block;
  position: relative;
  z-index: 10000;
}
#sp-main-menu ul.level-0 > li:after {
  border-top: 2px solid;
  display: block;
  top: 0;
  position: absolute;
  height: 0;
  opacity: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 1000;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#sp-main-menu ul.level-0 > li:hover:after,
#sp-main-menu ul.level-0 > li.active:after {
  opacity: 1;
}
#sp-main-menu ul.level-0 > li > a {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 36px;
  outline: 0 none;
  margin: 0 10px;
  padding: 12px 0;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
}
#sp-main-menu ul.level-0 > li > a .menu-desc {
  display: none;
}
#sp-main-menu ul.level-0 > li:hover >a,
#sp-main-menu ul.level-0 > li.active >a {
  color: #287099;
}
#sp-main-menu li li:not(.sp-menu-group) {
  border-bottom: 1px solid;
  display: block;
  position: relative;
  text-align: left;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}
#sp-main-menu li li:not(.sp-menu-group):after {
  border-bottom: 1px solid;
}
#sp-main-menu li li:not(.sp-menu-group):first-child {
  margin-top: 0px;
}
#sp-main-menu li li:not(.sp-menu-group):last-child {
  margin-bottom: -1px;
  border-bottom: 0px;
}
#sp-main-menu li li:not(.sp-menu-group) a {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#sp-main-menu .sp-menu-group .sp-menu-group-title {
  border-bottom: 1px solid;
}
#sp-main-menu .sp-menu-group .sp-menu-group-title a {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  outline: 0 none;
  padding: 10px;
  font-weight: normal;
  text-decoration: none;
}
#sp-main-menu .sp-menu-group .sp-menu-group-content .module {
  margin: 0;
  padding: 5px;
}
.sp-submenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  margin-top: 0;
  margin-bottom: -1px;
  transform-origin: top;
  -webkit-transform-origin: top;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.sp-submenu .sp-submenu-wrap {
  position: relative;
}
.sp-submenu.open {
  z-index: 900;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.sp-submenu .megacol > .sp-menu {
  height: 100%;
}
.ltr #sp-main-menu ul.level-0 > li a {
  text-align: left;
}
.ltr .sp-submenu {
  margin-right: 30px;
}
.ltr .sp-submenu .megacol {
  float: left;
  margin-left: -1px;
  border-left: 1px solid;
}
.ltr .sp-submenu .megacol.first {
  border-left: none;
  margin-left: 0;
}
.rtl #sp-main-menu ul.level-0 > li a {
  text-align: right;
}
.rtl .sp-submenu {
  margin-left: 30px;
}
.rtl .sp-submenu .megacol {
  float: right;
  margin-right: -1px;
  border-right: 1px solid;
}
.rtl .sp-submenu .megacol.first {
  border-right: none;
  margin-right: 0;
}
.sp-mobile-menu {
  top: 60px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.sp-mobile-menu select.select-menu {
  width: 32px;
  height: 27px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
.sp-mobile-menu ul li {
  border-bottom: 1px solid;
}
.sp-mobile-menu ul li li:first-child {
  border-top: 1px solid;
}
.sp-mobile-menu ul li li:last-child {
  border-bottom: 0;
}
.sp-main-menu-toggler {
  top: 15px !important;
  z-index: 1000;
}
.ltr .sp-main-menu-toggler {
  left: 10px !important;
  right: auto !important;
  position: absolute !important;
}
.rtl .sp-main-menu-toggler {
  right: 10px !important;
  left: auto !important;
  position: absolute !important;
}
#sp-users-wrapper {
  padding: 30px 0;
  border-top: 1px solid #fff;
  background: #f2f2f2;
}
ul.breadcrumb {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  text-shadow: none !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: 300 !important;
}
.sp-border {
  position: relative;
}
.sp-border::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
#sp-footer-wrapper {
  padding: 30px 0;
  position: relative;
}
#sp-footer-wrapper::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
#sp-footer-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button,
input[type='submit'],
input[type='button'],
submit {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  border: ;
  *border: ;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  *margin-left: .3em;
  *display: inline;
  *zoom: 1;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
button:first-child,
input[type='submit']:first-child,
input[type='button']:first-child,
submit:first-child {
  *margin-left: 0;
}
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
submit:hover {
  text-decoration: none;
  background-color: #fff;
  *background-color: #fff;
  text-shadow: none;
  background-position: 0 0;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
button:focus,
input[type='submit']:focus,
input[type='button']:focus,
submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
button.active,
button:active,
input[type='submit'].active,
input[type='submit']:active,
input[type='button'].active,
input[type='button']:active,
submit.active,
submit:active {
  background-color: #fff;
  background-color: #fff \9;
  background-image: none;
  outline: 0;
  color: #fff;
}
button.disabled,
button[disabled],
input[type='submit'].disabled,
input[type='submit'][disabled],
input[type='button'].disabled,
input[type='button'][disabled],
submit.disabled,
submit[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
button.btn-trans,
input[type='submit'].btn-trans,
input[type='button'].btn-trans,
submit.btn-trans {
  border: 2px solid #fff;
  color: #fff;
}
button.btn-trans:hover,
input[type='submit'].btn-trans:hover,
input[type='button'].btn-trans:hover,
submit.btn-trans:hover {
  color: #fff;
}
button.btn-trans-white,
input[type='submit'].btn-trans-white,
input[type='button'].btn-trans-white,
submit.btn-trans-white {
  border: 1px solid #fff;
  color: #fff;
}
button.social,
input[type='submit'].social,
input[type='button'].social,
submit.social {
  background: #2f2f2f;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
button.social.facebook,
input[type='submit'].social.facebook,
input[type='button'].social.facebook,
submit.social.facebook {
  color: #0378a9;
}
button.social.facebook:hover,
input[type='submit'].social.facebook:hover,
input[type='button'].social.facebook:hover,
submit.social.facebook:hover {
  background: #0378a9;
  color: #fff;
}
button.social.twitter,
input[type='submit'].social.twitter,
input[type='button'].social.twitter,
submit.social.twitter {
  color: #17b8fb;
}
button.social.twitter:hover,
input[type='submit'].social.twitter:hover,
input[type='button'].social.twitter:hover,
submit.social.twitter:hover {
  background: #17b8fb;
  color: #fff;
}
button.social.pinterest,
input[type='submit'].social.pinterest,
input[type='button'].social.pinterest,
submit.social.pinterest {
  color: #dc4e44;
}
button.social.pinterest:hover,
input[type='submit'].social.pinterest:hover,
input[type='button'].social.pinterest:hover,
submit.social.pinterest:hover {
  background: #dc4e44;
  color: #fff;
}
button.social.gplus,
input[type='submit'].social.gplus,
input[type='button'].social.gplus,
submit.social.gplus {
  color: #9d261d;
}
button.social.gplus:hover,
input[type='submit'].social.gplus:hover,
input[type='button'].social.gplus:hover,
submit.social.gplus:hover {
  background: #9d261d;
  color: #fff;
}
button.social:hover,
input[type='submit'].social:hover,
input[type='button'].social:hover,
submit.social:hover {
  text-decoration: none;
}
.btn.social {
  background: #2f2f2f;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.btn.social.facebook {
  color: #0378a9;
}
.btn.social.facebook:hover {
  background: #0378a9;
  color: #fff;
}
.btn.social.twitter {
  color: #17b8fb;
}
.btn.social.twitter:hover {
  background: #17b8fb;
  color: #fff;
}
.btn.social.pinterest {
  color: #dc4e44;
}
.btn.social.pinterest:hover {
  background: #dc4e44;
  color: #fff;
}
.btn.social.gplus {
  color: #9d261d;
}
.btn.social.gplus:hover {
  background: #9d261d;
  color: #fff;
}
.btn.social:hover {
  text-decoration: none;
}
#sp-copyright-wrapper .container {
  margin-bottom: -10px;
}
#sp-copyright-wrapper #sp-copyright {
  line-height: 30px;
}
.center {
  text-align: center;
}
.center th,
.center tr,
.center td {
  text-align: center;
}
.row-fluid {
  margin-bottom: 20px;
}
.row-fluid:first-child {
  margin-bottom: 0;
}
.module {
  margin-top: 20px;
}
.module:first-child {
  margin-top: 0;
}
.module h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 10px 0;
  line-height: normal;
}
.module.title-center h3 {
  text-align: center;
}
.module.title-right h3 {
  text-align: right;
}
.module.title-mini h3 {
  font-size: 16px;
}
.module.title-small h3 {
  font-size: 20px;
}
.module.title-normal h3 {
  font-size: 24px;
}
.module.title-large h3 {
  font-size: 28px;
}
.module.highlighted,
.module.orange,
.module.dark,
.module.green,
.module.maroon,
.module.blue,
.module.gray,
.module.pink,
.module.red {
  padding: 20px;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5) inset;
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5) inset;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5) inset;
}
.module.highlighted h3,
.module.orange h3,
.module.dark h3,
.module.green h3,
.module.maroon h3,
.module.blue h3,
.module.gray h3,
.module.pink h3,
.module.red h3 {
  padding: 0 0 10px 0;
  border-bottom: 1px dashed #fff;
  color: #fff;
}
.module.orange {
  background: rgba(248,148,6,0.5);
}
.module.orange a {
  color: #B66B00;
}
.module.orange a:hover {
  color: #6F4100;
}
.module.dark {
  background: rgba(0,0,0,0.5);
}
.module.dark a {
  color: #777;
}
.module.dark a:hover {
  color: #888;
}
.module.green {
  background: rgba(70,165,70,0.5);
}
.module.green a {
  color: #63E063;
}
.module.green a:hover {
  color: #43F043;
}
.module.maroon {
  background: rgba(243,93,52,0.5);
}
.module.maroon a {
  color: #B4300D;
}
.module.maroon a:hover {
  color: #C93F19;
}
.module.blue {
  background: rgba(4,156,219,0.5);
}
.module.blue a {
  color: #47C9FF;
}
.module.blue a:hover {
  color: #0073A3;
}
.module.gray {
  background: rgba(85,85,85,0.5);
}
.module.gray a {
  color: #999;
}
.module.gray a:hover {
  color: #777;
}
.module.pink {
  background: rgba(195,50,95,0.5);
}
.module.pink a {
  color: #FF5C8F;
}
.module.pink a:hover {
  color: #FA2E6E;
}
.module.red {
  background: rgba(157,38,29,0.5);
}
.module.red a {
  color: #EE4538;
}
.module.red a:hover {
  color: #DA3F33;
}
.pri-title {
  text-align: center;
  font-size: 36px;
  line-height: 120px;
  text-transform: uppercase;
  font-family: "Lato";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
  line-height: 140% !important;
}
.sp-dropcap {
  overflow: hidden;
}
.sp-dropcap:first-letter {
  color: #666;
  display: block;
  float: left;
  font-size: 50px;
  line-height: 40px;
  padding: 4px 8px 0 0;
}
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.arrow li::before,
ul.arrow li::after,
ul.arrow-double li::before,
ul.arrow-double li::after,
ul.tick li::before,
ul.tick li::after,
ul.cross li::before,
ul.cross li::after,
ul.star li::before,
ul.star li::after,
ul.rss li::before,
ul.rss li::after {
  font-family: FontAwesome;
  font-size: 11px;
}
.ltr ul.arrow li::before,
.ltr ul.arrow-double li::before,
.ltr ul.tick li::before,
.ltr ul.cross li::before,
.ltr ul.star li::before,
.ltr ul.rss li::before {
  margin-right: 5px;
}
.ltr ul.arrow li::before {
  content: "\f105";
}
.ltr ul.arrow-double li::before {
  content: "\f101";
}
.ltr ul.tick li::before {
  content: "\f00c";
}
.ltr ul.cross li::before {
  content: "\f00d";
}
.ltr ul.star li::before {
  content: "\f006";
}
.ltr ul.rss li::before {
  content: "\f09e";
}
.rtl ul.arrow li::after,
.rtl ul.arrow-double li::after,
.rtl ul.tick li::after,
.rtl ul.cross li::after,
.rtl ul.star li::after,
.rtl ul.rss li::after {
  margin-left: 5px;
}
.rtl ul.arrow li::after {
  content: "\f104";
}
.rtl ul.arrow-double li::after {
  content: "\f100";
}
.rtl ul.tick li::after {
  content: "\f00c";
}
.rtl ul.cross li::after {
  content: "\f00d";
}
.rtl ul.star li::after {
  content: "\f006";
}
.rtl ul.rss li::after {
  content: "\f09e";
}
img.pull-left,
.pull-left > img {
  margin-right: 15px;
}
img.pull-right,
.pull-right > img {
  margin-left: 15px;
}
.rtl img.pull-left,
.rtl .pull-left > img {
  margin-left: 15px;
}
.rtl img.pull-right,
.rtl .pull-right > img {
  margin-right: 15px;
}
.sp-blocknumber {
  position: relative;
  min-height: 45px;
}
.sp-blocknumber span {
  font-weight: bold;
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
}
.sp-blocknumber span.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sp-blocknumber span.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.ltr .sp-blocknumber {
  padding: 5px 0 5px 60px;
}
.ltr .sp-blocknumber span {
  left: 0;
}
.rtl .sp-blocknumber {
  padding: 5px 60px 5px 0;
}
.rtl .sp-blocknumber span {
  right: 0;
}
.sp-block.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sp-bubble {
  position: relative;
  margin-bottom: 40px;
}
.sp-bubble cite {
  display: block;
  height: 30px;
  line-height: 36px;
  position: absolute;
  bottom: -30px;
}
.sp-bubble cite span {
  content: ' ';
  position: absolute;
  top: 0;
  display: block;
  width: 0;
  height: 0;
  border-bottom-color: transparent !important;
}
.ltr .sp-bubble cite {
  left: 15px;
  padding-left: 40px;
}
.ltr .sp-bubble cite span {
  left: 0;
  border-left-color: transparent !important;
}
.rtl .sp-bubble cite {
  right: 15px;
  padding-right: 40px;
}
.rtl .sp-bubble cite span {
  right: 0;
  border-right-color: transparent !important;
}
.ltr [class^="icon-"].pull-left,
.ltr [class*=" icon-"].pull-left {
  margin-right: .3em;
}
.ltr [class^="icon-"].pull-right,
.ltr [class*=" icon-"].pull-right {
  margin-left: .3em;
}
.rtl [class^="icon-"].pull-left,
.rtl [class*=" icon-"].pull-left {
  margin-left: .3em;
}
.rtl [class^="icon-"].pull-right,
.rtl [class*=" icon-"].pull-right {
  margin-right: .3em;
}
.content-bounce:hover img {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: bounce;
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: bounce;
  -ms-animation-duration: 0.75s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: bounce;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.content-bounce {
  padding: 0 15px;
  text-align: center;
}
.content-bounce img {
  display: block;
  height: auto;
  margin: 30px auto;
  max-width: 100%;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
  -webkit-transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1.0);
  }
  25% {
    -webkit-transform: scale(0.9);
  }
  50% {
    -webkit-transform: rotateZ(1.0);
  }
  75% {
    -webkit-transform: rotateZ(1.1);
  }
  100% {
    -webkit-transform: rotateZ(1.0);
  }
}
@-moz-keyframes bounce {
  0% {
    -moz-transform: scale(1.0);
  }
  25% {
    -moz-transform: scale(0.9);
  }
  50% {
    -moz-transform: rotateZ(1.0);
  }
  75% {
    -moz-transform: rotateZ(1.1);
  }
  100% {
    -moz-transform: rotateZ(1.0);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1.0);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: rotateZ(1.0);
  }
  75% {
    transform: rotateZ(1.1);
  }
  100% {
    transform: rotateZ(1.0);
  }
}
@media (max-width: 767px) {
  .responsive.bg {
    padding-left: 0;
    padding-right: 0;
  }
  .responsive .container {
    padding: 0 10px;
    max-width: 480px;
    min-width: 280px;
  }
  .responsive #sp-feature-wrapper {
    padding: 20px 0;
  }
  .responsive #sp-feature-wrapper #feature h1 {
    font-size: 200%;
    line-height: 200%;
  }
  .responsive #sp-feature-wrapper #feature p {
    font-size: 100%;
  }
  .responsive #sp-feature-wrapper #feature .btn {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .responsive #sp-copyright-wrapper {
    text-align: center;
  }
}
@media (max-width: 979px) {
  .responsive #sp-header-wrapper [class*="span"] {
    width: auto;
    float: left;
  }
  .responsive #sp-header-wrapper [class*="span"]#sp-menu {
    float: right;
  }
}
.fixed .hidden-desktop {
  display: none;
}
