<div> <!-- id="ng-app" IE<8 -->
<!-- <div id="ng-app" ng-app="app"> <!-- id="ng-app" IE<8 -->
    <div ng-controller="AppController" nv-file-drop="" uploader="uploader">
       <table width="90%" border="1" cellspacing="0" align="center">
          <tbody>
          <tr class="tittle produccion">
              <td align="center" width="100%">Imagen

<div class="wrapper-file-input">
   <span class="fake-file-input"><img src="../../img/upload.png" alt="img" height="22" width="22" title="Subir Imagen"></span>
   <input type="file" nv-file-select="" uploader="uploader" /><br/></td>
</div>
          </tr>
          </tbody></table>   
        <div class="container">

                <div class="col-md-12" style="margin-bottom: 40px">

                    <table class="table" width="100%">
                        <thead>
                            <tr>
                                <th width="50%" style="font-size: 16px;"><strong>Nombre</strong></th>
                                <th ng-show="uploader.isHTML5" style="font-size: 16px;"><strong>Tamaño</strong></th>
                                <th ng-show="uploader.isHTML5" style="font-size: 16px;"><strong>Progreso</strong></th>
                                <th style="font-size: 16px;"><strong>Estado</strong></th>
                                <th style="font-size: 16px;"><strong>Acciones</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>1234{{ item.file.name }}</strong>
                                    <input type="hidden" value="{{item.file.name}}" name='imagen[]'>
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok" id="ok"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"  id="error"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Guardar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Borrar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
<!--                         <div>
                           <strong style="font-size: 16px;">Cola de Progreso:</strong>
                            <div class="progress progress-striped active" style="">                            
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div> -->
<!--                         <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button> -->
                    </div>

                </div>
                <!-- <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/> -->

            </div>

        </div>

    </div>
</div>
