/*Selector para darle propiedades al body*/
body{
	font-family:Arial;
	font-size:12px;
	margin-top:5px;
}
table{ 
	margin-left: auto;
	margin-right: auto;
}
tr:first-child {
	border-top:2px solid white;
}
td{	
	height:18px;
	vertical-align:middle;
}
tr{
	/*margin:5px;*/
	border-bottom: 3px solid white;	
}
form.form1 fieldset {
    border: none;
    border-top: 1px solid #C9DCA6;
    background-color: #F8FDEF;
}

form.form1 fieldset fieldset {
    background: none;
}
form.form1 label.error, label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-family:Arial;
    font-size:12px;
	font-style:italic;
}
div.error { display: none; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }

input[type=text]{
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	/*padding-right:30px;*/
	/*width:85%*/
}
select{
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	/*padding-right:30px;*/
	/*width:85%*/
}
select:focus{
	background: #fff; 
	border:1px solid #555; 
	box-shadow: 0 0 3px #aaa; 
	/*padding-right:70px;*/
}
select:disabled{
	background: #ced5e8; 
	border:1px solid #555; 
	box-shadow: 0 0 3px #aaa; 
	/*padding-right:70px;*/
}
input[type=text]:focus{
	background: #fff; 
	border:1px solid #555; 
	box-shadow: 0 0 3px #aaa; 
	/*padding-right:70px;*/
}
input[type=text]:disabled{
	background: #ced5e8; 
	border:1px solid #555; 
	box-shadow: 0 0 3px #aaa; 
	/*padding-right:70px;*/
}
*:focus {outline: none;}
/*Selector para cambiarle el tampaño de la letra a los dialogs*/
#dialog{
	font-size:16px;
	font-weight:bold
}
#dialog2{
	font-size:16px;
	font-weight:bold
}
span.ui-dialog-title{
	font-size:18px;
	font-weight:bold
}
/*Selector para el estilo del autocomplete*/
.ui-autocomplete {	
    font-family: Arial;
    font-size:12px;
}
#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index:50;
	display:none;
}
.row:nth-child(2n){
	border-bottom: 1px #D9D9D9 solid;
/*	border:1px solid black;*/
	font-size:14px;
	height:18px;
	vertical-align:central;
}
.row:nth-child(2n+1){
	background: #f5f5f5;
	border-bottom: 1px #D9D9D9 solid;
	/*border:1px solid black;*/
	font-size:14px;
	height:18px;
	vertical-align:central;
}
.row:hover {
	background: #C0C0C0;
	color: #000;
	cursor: pointer;
}

.big{
	font-size:16px;
}
/*Selector para darle longitud a los inputs*/
.long{
	width:98%;
}
.name{
	font-size:24px;
	font-weight:bold;
	vertical-align:text-bottom;
}

/*Selector para el estilo de las filas principales Azul oscura*/
.tittle{
	background:-o-linear-gradient(bottom, #4d68a2 5%, #0a2459 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d68a2), color-stop(1, #0a2459) );
	background:-moz-linear-gradient( center top, #4d68a2 5%, #0a2459 100% );




	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d68a2", endColorstr="#0a2459");		
	background: -o-linear-gradient(top,#4d68a2,0a2459);
	background-color:#4d68a2;
	border:0px solid #999999;
	text-align:center;
	border-width:0px 0px 1px 1px;
	color:#ffffff;
	height:35px;
	vertical-align:middle;
	border-bottom:2px solid white;
	font-size: 18px;
	font-weight: bold;
}
.red{
	font-size:16px;
	color:red;
}
.res{
	color:#CCCC00;
	font-size:18px
}
.subtitle{
	font-style:italic;
	font-size:14px;
	font-weight:bold}
.subtitle2{
	font-style:italic;
	font-size:14px;
}
/*Selector para el estilo de las celdas con texto azul Claro*/
.bold{
	font-weight:bold;
	padding:3px 15px 3px 15px ;
	background-color: #D9D9D9 ;
	border-bottom:2px solid #2f2f2f;
	color: #222222;
}
/*Selector para el estilo de las celdas con imputs*/
.cont{
	padding:3px 15px 3px 15px;
}
/*Selector para */
.ext {
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background:-o-linear-gradient(
		bottom, 
		#4d68a2 5%, 
		#0a2459 100%);	
	background:-webkit-gradient( 
		linear, 
		left top, 
		left bottom, 
		color-stop(0.05, #4d68a2), 
		color-stop(1, #0a2459) );
	background:-moz-linear-gradient( 
		center top, 
		#4d68a2 5%, 
		#0a2459 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d68a2", endColorstr="#0a2459");		
	background: -o-linear-gradient(top,#4d68a2,0a2459);
	background-color:#4d68a2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #1f2a4a;
	-moz-box-shadow:
		0px 1px 3px rgba(31,42,74,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(31,42,74,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 3px rgba(31,42,74,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
	cursor:pointer;
} 
.ext:active{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background:-o-linear-gradient(
		bottom, 
		#34476e 50%, 
		#0a2459 90%);	
	background:-webkit-gradient( 
		linear, 
		left top, 
		left bottom, 
		color-stop(0.5, #34476e), 
		color-stop(0.9, #0a2459) );
	background:-moz-linear-gradient( 
		center top, 
		#34476e 50%, 
		#0a2459 90% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#34476e", endColorstr="#0a2459");		
	background: -o-linear-gradient(top,#34476e,0a2459);
	background-color:#34476e;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #1f2a4a;
	-moz-box-shadow:
		0px 1px 3px rgba(31,42,74,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(31,42,74,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 3px rgba(31,42,74,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
	cursor:pointer;
}
.ext:hover{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background:-o-linear-gradient(
		bottom, 
		#4d68a2 10%, 
		#0a2459 60%);	
	background:-webkit-gradient( 
		linear, 
		left top, 
		left bottom, 
		color-stop(0.1, #7b91c0), 
		color-stop(0.6, #0a2459) );
	background:-moz-linear-gradient( 
		center top, 
		#4d68a2 10%, 
		#0a2459 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b91c0", endColorstr="#0a2459");		
	background: -o-linear-gradient(top,#7b91c0,0a2459);
	background-color:#7b91c0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #1f2a4a;
	-moz-box-shadow:
		0px 1px 3px rgba(31,42,74,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(31,42,74,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 3px rgba(31,42,74,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
	cursor:pointer;
}
.inner {
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background:-o-linear-gradient(bottom, #4d68a2 5%, #0a2459 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d68a2), color-stop(1, #0a2459) );
	background:-moz-linear-gradient( center top, #4d68a2 5%, #0a2459 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d68a2", endColorstr="#0a2459");		
	background: -o-linear-gradient(top,#4d68a2,0a2459);
	background-color:#4d68a2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #b8c4e6;
	-moz-box-shadow:
		0px 1px 3px rgba(031,042,074,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(031,042,074,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 3px rgba(031,042,074,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
	cursor:pointer;
}
.inner:hover {
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background:-o-linear-gradient(
		bottom, 
		#4d68a2 50%, 
		#0a2459 90%);	
	background:-webkit-gradient( 
		linear, 
		left top, 
		left bottom, 
		color-stop(0.5, #4d68a2), 
		color-stop(0.9, #0a2459) );
	background:-moz-linear-gradient( 
		center top, 
		#4d68a2 50%, 
		#0a2459 90% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d68a2", endColorstr="#0a2459");		
	background: -o-linear-gradient(top,#4d68a2,0a2459);
	background-color:#4d68a2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #b8c4e6;
	-moz-box-shadow:
		0px 1px 3px rgba(031,042,074,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(031,042,074,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 3px rgba(031,042,074,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
	cursor:pointer;
}
